.boton-centro {
    text-align: center;
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff; /* Color principal del botón */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Tamaño del botón */
    font-size: 16px; /* Tamaño del texto */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s; /* Animación de color */
}

.btn-primary:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}
